version: '3.8'

services:
  backend:
    build: 
      context: .
    container_name: devstories_api
    restart: always
    ports:
      - "3000:3000" 
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - PORT=3000

  frontend:
    build:
      context: ../frontend
      args:
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    container_name: devstories_web
    restart: always
    depends_on:
      - backend
    ports:
      - "3001:3001" 
    env_file:
      - .env
